html,body { height: 100%; margin: 0px; padding: 0px; }

.shopping-cart-list {
    float: right;
    width: 250px;
    height: 100%;
}

.article {
    height: 80px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    float:left;
}

.article-info{
    height:80%;
    width:100%;
}

.article-btn-group {
    height:20%;
    width:100%;
}

.content{
    margin-right:250px;
}

.menu {
    margin-bottom: 0px;
}

.shopping-cart-remove{
    float:right;
}