<div ng-repeat="f in foodList">
    <div class="article">
        <div class="article-info">
            Name: {{f.name}} <br/>
            Description: {{f.description}} <br/>
            Price: {{f.price}}$
        </div>
        <div class="article-btn-group">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" ng-click="addArticle(f)" class="btn btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"> </span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </div>
        </div>
    </div>
</div>
