<div class="col-md-4">
<div class="shopping-cart-list">
    <div class="list-group">
        <a href="#" class="list-group-item disabled">
            Shopping Cart:
        </a>
        <div ng-repeat="shoppingCartArticle in shoppingCart">
            <a class="list-group-item">
                {{shoppingCartArticle.name + " " }} {{shoppingCartArticle.price | number: 2}}$
                <button class="btn btn-xs shopping-cart-remove" ng-click="removeArticleFromShoppingCart($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </a>
        </div>
        <a href="#" class="list-group-item disabled">
            Summe: {{sum | number:2}} $
        </a>
    </div>
</div>

</div>